<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js" defer></script>
    <title>Jedi Archives</title>
</head>
<body>
<header>
    <h1>Star Wars universe planets</h1>
    <button id="previous">Previous</button>
    <button id="next">Next</button>
</header>

<table class="container">
    <thead>
        {% for data in datas %}
        <th>
            {{ data }}
        </th>
        {% endfor %}
    </thead>
    <tbody></tbody>
</table>
</body>
</html>