<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js" defer></script>
    <title>Jedi Archives</title>
</head>
<body>
<header>
    <div>
        {% if not session.username %}
            <a href="/user_registration">Sign up</a>
            <a href="/login">Log in</a>
        {% endif %}
        {% if session.username %}
            <a href="/logout">Log out</a>
        {% endif %}
    </div>
    <div>
        {% if session.username %}
            <p>Logged in as {{ session.username }}</p>
        {% endif %}

    </div>
</header>
<div>
    <h1>Star Wars universe planets</h1>
    <button id="previous">Previous</button>
    <button id="next">Next</button>
</div>

<table class="container">
    <thead>
        {% for data in datas %}
        <th>
            {{ data }}
        </th>
        {% endfor %}
    </thead>
    <tbody>
    {% for i in range(10) %}
        <tr id="row-{{ i }}" data-row></tr>
    {% endfor %}
    </tbody>
</table>
<div id="popup">
    <div id="popup-content">
        <div id="popup-header">
        </div>
        <table>
            <thead>
                {% for element in popup %}
                    <th>{{ element }}</th>
                {% endfor %}
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
</body>
</html>