<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{{ url_for('user_registration') }}" method="POST">
        <div class="form-input">
            <label for="username-input">Username</label>
            <input type="text" id="username-input" name="username" required>
        </div>

        <div class="form-input">
            <label for="password-input">Password</label>
            <input type="password" id="password-input" name="password" required>
        </div>

        <div class="form-input">
            <label for="password-check-input">Password check</label>
            <input type="password" id="password-check-input" name="password-check" required>
        </div>

        <button type="submit">Sign up</button>
    </form>
</body>
</html>